.block{
	background: #eee;
	border: 1px solid #ccc;
}

.list-group-item, .list-group-item-success {
	color: #3c763d;
    background-color: #dff0d8;
}

a.list-group-item-success {
    color: #3c763d;
}

.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

a.list-group-item-success.active {
	background-color: #dff0d8;
}

a.list-group-item-success.hover {
	background-color: #dff0d8;
}


a.list-group-item-info {
    color: #31708f;
}

a.list-group-item-info.active {
    color: #31708f;
    background-color: #d9edf7;
}

a.list-group-item-info.hover {
    color: #31708f;
    background-color: #d9edf7;
}